body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
html,
body {
  margin: 0;
  height: 100%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-area {
  display: flex;
}
.user-area li {
  margin-left: 5px;
  display: flex;
  align-items: center;
}
.user-area li span {
  color: #337ab7;
  display: block;
}
.user-area img {
  height: 18px;
  margin-top: 5px;
  border-radius: 50%;
}
